<%= form_for @chatroom do |f| %>
  <%= render "shared/error_messages", object: @chatroom %>
  <div class="row">

  <div class="input-field col s12">
      <%= f.select :reciepient, User.all.ids %>

            <label for="fenter_subject">Enter reciepient</label>
  </div>



  <%= f.fields_for :messages do |m| %>
  <div class="input-field col s12">

    <%= m.text_area :body,rows: '10', id: "textarea2", class: "materialize-textarea" %>
<% end %>

      </div>


  <%= f.button "create thread", class: "waves-effect waves-light btn loginButton" %>

</div>

<% end %>
